.reactModalOverlay{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reactModalContent{
    width: 100%;
    max-width: 772px;
    height:514px;
    background: var(--white);
    padding:3rem;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}
.reactModalContent button[type="button"]{
    position: absolute;
    background: transparent;
    right: 1.5rem;
    top: 1.5rem;
    border: 0;
}
.reactModalContent h2{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 1.9rem;
    margin-bottom:2rem;
    color: var(--background);
}
.reactModalContent input{
    width: 325px;
    height: 62px;
    margin-bottom:2.5rem ;
    padding-right: 1rem;
    margin-left:0.5rem ;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem ;
    border: 1px solid var(--blue);
}
.reactModalContent button[type="submit"]{
    width: 212px;
    height: 41px;
    margin-left: 14.5rem;
}